/* created by songxue on 2019.9.20 */

.myTop{position: fixed;top:0;left:0;width:100%;z-index: 501}
.myTop .weui-search-bar{background-color: #fff;}
.myTop>.flex-col-hd>i{width:30px;display: inline-block;font-size: 20px;text-align: center;color:#999;}
.myH{height:52px;}

/* 班级列表 */
.classList>li{padding: 10px;border-bottom: 1px solid #eaeaea;background: #fff;}
.classList>li>a{display: block}
.classList h3{font-size: 14px;margin-bottom: 8px;}
.classList h3>span{color:#999;font-weight: 500;font-size: 13px;}
.classList p{font-size: 13px;color:#999}
.classList p>span{color:#333}

.studentList_top{margin-bottom: 5px;padding: 10px;}
.studentList_top>div{padding: 10px;background: #fff;border-radius: 8px;}
.studentList>li{background: #fff;border-bottom: 1px solid #eaeaea;padding: 10px;}
.studentList h3{font-size: 14px;margin-bottom: 8px;}
.studentList h3>span{color:#999;font-weight: 500;font-size: 13px;}
.studentList p{font-size: 13px;color:#999}
.studentList p.studentAddress{position: relative}
.studentList p.studentAddress>span{position: absolute;top:0;left:0;}











